/** layui-v2.3.0 MIT License By https://www.layui.com */
.laydate-set-ym, .layui-laydate, .layui-laydate *, .layui-laydate-list {
	box-sizing: border-box
}
html #layuicss-laydate {
	position: absolute;
	display: none;
	width: 1989px
}
.layui-laydate * {
	padding: 0;
	margin: 0
}
.layui-laydate {
	position: absolute;
	z-index: 66666666;
	margin: 5px 0;
	font-size: 12px;
	border-radius: 2px;
	animation-duration: .3s;
	animation-duration: .3s;
	animation-name: laydate-upbit;
	animation-name: laydate-upbit;
	animation-fill-mode: both;
	animation-fill-mode: both
}
.layui-laydate-main {
	width: 272px
}
.layui-laydate-content td, .layui-laydate-header *, .layui-laydate-list li {
	transition-duration: .3s;
	transition-duration: .3s
}
@keyframes laydate-upbit {
from {
opacity:.3;
transform:translate3d(0, 20px, 0)
}
to {
opacity:1;
transform:translate3d(0, 0, 0)
}
}
@keyframes laydate-upbit {
from {
opacity:.3;
transform:translate3d(0, 20px, 0)
}
to {
opacity:1;
transform:translate3d(0, 0, 0)
}
}
.layui-laydate-static {
	position: relative;
	z-index: 0;
	display: inline-block;
	margin: 0;
	animation: none;
	animation: none
}
.laydate-ym-show .laydate-next-m, .laydate-ym-show .laydate-prev-m {
	display: none !important
}
.laydate-ym-show .laydate-next-y, .laydate-ym-show .laydate-prev-y {
	display: inline-block !important
}
.laydate-time-show .laydate-set-ym span[lay-type="month"], .laydate-time-show .laydate-set-ym span[lay-type="year"], .laydate-time-show .layui-laydate-header .layui-icon, .laydate-ym-show .laydate-set-ym span[lay-type="month"] {
	display: none !important
}
.layui-laydate-header {
	position: relative;
	padding: 10px 70px 5px;
	line-height: 30px
}
.laydate-set-ym span, .layui-laydate-header i {
	padding: 0 5px;
	cursor: pointer
}
.layui-laydate-header * {
	display: inline-block;
	vertical-align: bottom
}
.layui-laydate-header i {
	position: absolute;
	top: 10px;
	font-size: 14px;
	color: #999
}
.layui-laydate-header i.laydate-prev-y {
	left: 15px
}
.layui-laydate-header i.laydate-prev-m {
	left: 45px
}
.layui-laydate-header i.laydate-next-y {
	right: 15px
}
.layui-laydate-header i.laydate-next-m {
	right: 45px
}
.laydate-set-ym {
	width: 100%;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap
}
.laydate-time-text {
	cursor: default !important
}
.layui-laydate-content {
	position: relative;
	padding: 10px;
	user-select: none;
	user-select: none;
	user-select: none
}
.layui-laydate-content table {
	border-collapse: collapse;
	border-spacing: 0
}
.layui-laydate-content td, .layui-laydate-content th {
    
	font-size: 14px;
	text-align: center; 
	
}
.layui-laydate-content td {
	width: 36px;
	height: 32px;
	position: relative;
	cursor: pointer
}
.layui-laydate-content td:first-child{}
.layui-laydate-content td:first-child:hover{}
.layui-laydate-content table tbody tr>td+td+td+td+td+td+td{}
.layui-laydate-content table tbody tr>td+td+td+td+td+td+td:hover{}
.laydate-day-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 12px;
	line-height: 30px
}
.laydate-day-mark::after {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	content: ''
}
.layui-laydate-footer {
	display: none;
	position: relative;
	height: 46px;
	padding: 10px 20px;
	line-height: 26px
}
.layui-laydate-footer span {
	display: inline-block;
	margin-right: 15px;
	font-size: 12px;
	cursor: pointer;
}
.layui-laydate-footer span:hover {
	color: #49aaff
}
.laydate-footer-btns {
	top: 10px;
	right: 10px;

	/*position: absolute;*/
	text-align: center
}
.laydate-footer-btns span {
	height: 26px;
	padding: 0 10px;
	margin: 0 0 0 -1px;
	line-height: 26px;
	white-space: nowrap;
	vertical-align: top;

	/*border: 1px solid #C9C9C9;*/
	background-color: #fff;
	border-radius: 2px
}
.layui-laydate-list>li, .layui-laydate-range .layui-laydate-main {
	display: inline-block;
	vertical-align: middle
}
.layui-laydate-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #fff
}
.layui-laydate-list>li {
	position: relative;
	width: 33.3%;
	height: 24px;
	margin: 9px 0;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	background-position: center;background-repeat: no-repeat;

	/*background-size: auto 100%;	*/
}
.laydate-month-list>li {
	width: 25%;
	margin: 17px 0
}
.laydate-time-list>li {
	height: 100%;
	margin: 0;
	line-height: normal;
	cursor: default
}
.laydate-time-list p {
	position: relative;
	top: -4px;
	line-height: 29px
}
.laydate-time-list ol {
	height: 181px;
	overflow: hidden
}
.laydate-time-list>li:hover ol {
	overflow-y: auto
}
.laydate-time-list ol li {
	width: 100%;

	/*padding-left: 33px;*/
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	background-position: center;background-repeat: no-repeat;

	/*background-size: auto 100%;	*/
}
.layui-laydate-hint {
	position: absolute;
	top: 115px;
	left: 50%;
	width: 250px;
	padding: 15px;
	margin-left: -125px;
	font-size: 12px;
	line-height: 20px;
	text-align: center
}
.layui-laydate-range {
	width: 546px
}
.layui-laydate-range .laydate-main-list-0 .laydate-next-m, .layui-laydate-range .laydate-main-list-0 .laydate-next-y, .layui-laydate-range .laydate-main-list-1 .laydate-prev-m, .layui-laydate-range .laydate-main-list-1 .laydate-prev-y {
	display: none
}
.layui-laydate-range .laydate-main-list-1 .layui-laydate-content {
	border-left: 1px solid #e2e2e2
}
.layui-laydate, .layui-laydate-hint {
	color: #666;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 2px 4px rgba(0,0,0,.12)
}
.layui-laydate-header {
	border-bottom: 1px solid #e2e2e2
}
.layui-laydate-header i:hover, .layui-laydate-header span:hover {
	color: #49aaff
}
.layui-laydate-content {
	border-top: none 0;
	border-bottom: none 0
}
.layui-laydate-content th {
	line-height: 22px;height: 22px;
	font-weight: 400;
	color: #999999
}
.layui-laydate-content td {
	color: #27282e;
	background-position: center;background-repeat: no-repeat;

	/*background-size: auto 100%;	*/
}
.layui-laydate-content td.laydate-selected {
	background-color: #e0ecff;border-left-color: #e0ecff;border-right-color: #e0ecff;
}
.laydate-selected:hover {
	background-color: #00F7DE !important
}
.layui-laydate-content td:hover{
	color: #4285f4;
}

.layui-laydate-content td:hover::after{
	content: "";display: block;position: absolute;top: 4px;left:6px;z-index: -1;border-radius: 3px;
	width: 24px;height: 24px;background-color: #e0ecff;
}
 .layui-laydate-list li:hover {
	
 
	background-color: #e0ecff;
	/* background-image: url(../default/date02.png); */
	background-position: center;
	background-repeat: no-repeat;
    border-radius: 3px;
	/*background-size: auto 100%;	*/
		
		
}

.laydate-time-list li ol {
	padding: 0;
	margin: 0;
	border: 1px solid #e2e2e2;
	border-left-width: 0
}
.laydate-time-list li:first-child ol {
	border-left-width: 1px
}
.laydate-time-list>li:hover {
	background: 0 0
}
.layui-laydate-content .laydate-day-next, .layui-laydate-content .laydate-day-prev {
	color: #cccccc !important;
}
.laydate-selected.laydate-day-next, .laydate-selected.laydate-day-prev {
	background-color: #f8f8f8 !important
}
.layui-laydate-footer {
	border-top: 1px solid #e2e2e2
}
.layui-laydate-hint {
	color: #FF5722;
 
}
.laydate-day-mark::after {
	background-color: #49aaff
}
.layui-laydate-content td.layui-this .laydate-day-mark::after {
	display: none
}
.layui-laydate-footer span[lay-type="date"] {
	color: #49aaff
}
.layui-laydate .layui-this {
    
	color: #fff ;

 	border-radius: 3px;
	padding: 0px;
	font-size: 14px;
}
.layui-laydate .layui-this::after{
	content: "";display: block;position: absolute;top: 4px;left:6px;z-index: -1;border-radius: 3px;
	width: 24px;height: 24px;background-color: #4285f4;
}

/* .layui-laydate .layui-this:hover{background-image: url(../default/date01.png);} */
/* 当前日期移入后样式 */
.layui-laydate .layui-this:hover{color: #333 ;background: none;	}

.layui-laydate .laydate-disabled, .layui-laydate .laydate-disabled:hover {
	color: #d2d2d2 !important;
	cursor: not-allowed !important;
	background: 0 0 !important;
	user-select: none;
	user-select: none;
	user-select: none
}
.laydate-theme-molv {
	border: none
}
.laydate-theme-molv.layui-laydate-range {
	width: 548px
}
.laydate-theme-molv .layui-laydate-main {
	width: 274px
}
.laydate-theme-molv .layui-laydate-header {
	background-color: #009688;
	border: none
}
.laydate-theme-molv .layui-laydate-header i, .laydate-theme-molv .layui-laydate-header span {
	color: #f6f6f6
}
.laydate-theme-molv .layui-laydate-header i:hover, .laydate-theme-molv .layui-laydate-header span:hover {
	color: #fff
}
.laydate-theme-molv .layui-laydate-content {
	border: 1px solid #e2e2e2;
	border-top: none;
	border-bottom: none
}
.laydate-theme-molv .laydate-main-list-1 .layui-laydate-content {
	border-left: none
}
.laydate-theme-grid .laydate-month-list>li, .laydate-theme-grid .laydate-year-list>li, .laydate-theme-grid .layui-laydate-content td, .laydate-theme-grid .layui-laydate-content thead, .laydate-theme-molv .layui-laydate-footer {
	border: 1px solid #e2e2e2
}
.laydate-theme-grid .laydate-selected, .laydate-theme-grid .laydate-selected:hover {
	color: #009688 !important;
	background-color: #f2f2f2 !important
}
.laydate-theme-grid .laydate-selected.laydate-day-next, .laydate-theme-grid .laydate-selected.laydate-day-prev {
	color: #d2d2d2 !important
}
.laydate-theme-grid .laydate-month-list, .laydate-theme-grid .laydate-year-list {
	margin: 1px 0 0 1px
}
.laydate-theme-grid .laydate-month-list>li, .laydate-theme-grid .laydate-year-list>li {
	margin: 0 -1px -1px 0
}
.laydate-theme-grid .laydate-year-list>li {
	height: 43px;
	line-height: 43px
}
.laydate-theme-grid .laydate-month-list>li {
	height: 71px;
	line-height: 71px
}



/*扩展样式 2018-10-16*/
.layui-laydate  .laydate-year-list .layui-this{
	 background-color: #4285f4;
 
}
.layui-laydate  .laydate-year-list  li:hover{
	
	/* background-image: url(../default/year02.png); */
}
.layui-laydate  .laydate-year-list .layui-this:hover{
	
	/* background-image: url(../default/year01.png); */
}


.layui-laydate  .laydate-month-list .layui-this{
	background-color: #4285f4;
	/* background-image: url(../default/month01.png); */
}
.layui-laydate  .laydate-month-list  li:hover{
	
	/* background-image: url(../default/month02.png); */
}
.layui-laydate  .laydate-month-list .layui-this:hover{
	
	/* background-image: url(../default/month01.png); */
}
.laydate-time-list .layui-this{background-color: #4285f4;border-radius: 3px;}

/*扩展样式 2018-10-19*/
.layui-date-input::-ms-clear,.layui-date-input::-ms-reveal{display:none;}
.layui-date-input{background-position: right center;background-repeat: no-repeat;background-image: url(icon_date.png);}
.layui-date-input:focus{ background-image: url(icon_date.png); }
.NewTableMain .laydate-icon{background-image: url(icon_date.png);background-repeat: no-repeat;background-position: right center;}


/*扩展样式 2018-10-22*/
.laydate-btns-time{ position: absolute;}
.layui-laydate .layui-laydate-main .layui-laydate-content table tbody tr .numRed{ color: #f00;}
