.dhtmlx_message_area{
	position:fixed;
	right:5px;
	z-index:1000;
	width:250px;
    	word-break: break-all;
	word-wrap: break-word;
    	white-space: pre-wrap;
}

.triangle-div{ position: absolute;right:6px;bottom:7px;width: 5px;height: 5px;
	border:none;
}
.dhtmlx-info{
	z-index: 10000;
	min-width: 120px;
	min-height: 20px;
	padding:4px 4px 4px 20px;

	margin:5px;
	margin-bottom:10px;
	font-family:宋体;
	font-weight:bold;
	color:#fff;

	transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
}
.dhtmlx-info.hidden{
	height:0;
	min-height: 0;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;
	border-width:0;
}

.dhtmlx_modal_box{
	position:fixed;

	z-index:20000;
	display: inline-block;
	width: 300px;
	min-width: 300px;
	overflow:hidden;

	font-family: Tahoma;
	text-align: center;
	background:linear-gradient(top, #fff 1%, #d0d0d0 99%);
	background:linear-gradient(top, #fff 1%, #d0d0d0 99%);

	background-color: #fff;
	border: 1px solid #fff;

	border-radius:6px;
	box-shadow: 0 0 14px #888;
}

.dhtmlx_popup_title{
	
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC);
	background-image: linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);
	background-image: linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%);

	border-width:0;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

.dhtmlx-info, .dhtmlx_popup_button, .dhtmlx_button{

	cursor:pointer;
	user-select: none;
	user-select:-moz-none;
	user-select: none;
}

.dhtmlx_popup_text{
	overflow:hidden;
}

.dhtmlx_popup_controls{
	padding:5px;
	border-radius:6px;
}

.dhtmlx_popup_button, .dhtmlx_button{

	display: inline-block;
	height: 30px;
	margin: 0 5px;
	line-height:30px;

	color:#FFF;
	border-radius: 6px;
}
.dhtmlx_popup_button{
	min-width: 120px;
}

div.dhx_modal_cover {

	position: fixed;		top: 0;
	left: 0;
	z-index:19999;
	width: 100%;	height: 100%;
	cursor:default;
	background-color:#000;

	border: none;
	opacity: 0.2;

	filter:alpha(opacity = 20);
	zoom: 1;
}

.dhtmlx-info img, .dhtmlx_modal_box img{
	float:left;
	margin-right:20px;
}
.dhtmlx-info img{
	margin-left:-10px;
}

.dhtmlx-alert-error .dhtmlx_popup_title, .dhtmlx-confirm-error .dhtmlx_popup_title{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC);
}
.dhtmlx-alert-error, .dhtmlx-confirm-error {
	border: 1px solid #f00;
}

/*Skin section*/
.dhtmlx_button, .dhtmlx_popup_button{
	border:1px solid #838383;
	box-shadow: 0 0 4px #888;
}
.dhtmlx_button input, .dhtmlx_popup_button div{

	height:28px; padding:0; margin:0;
	font-size:15px;
	line-height:28px;

	color:#fff;
	vertical-align:top;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAYFBMVEVwcHBtbW1ra2toaGhmZmZjY2NhYWFeXl5cXFxaWlpXV1dVVVVSUlJQUFBNTU1LS0tJSUlGRkZERERBQUE/Pz88PDw9PT0+Pj5AQEBCQkJDQ0NFRUVHR0dISEhKSkpMTEzqthaMAAAAMklEQVQImQXBhQ2AMAAAsOIMlwWH/8+kRSKVyRVKlVrQaHV6g9FktlhFm93hdLk9Xt8PIfgBvdUqyskAAAAASUVORK5CYII=);
	background-image: linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%);
	background-image: linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%);
	border:1px solid #FFF;

	border-radius:6px;

	box-sizing:content-box;
	box-sizing:content-box;
}

.dhtmlx_button input:focus, .dhtmlx_button input:active, .dhtmlx_popup_button div:active, .dhtmlx_popup_button div:focus{
	
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==);
	background-image: linear-gradient(top, #707070 1%, #4c4c4c 99%);
	background-image: linear-gradient(top, #707070 1%, #4c4c4c 99%);	
}
.dhtmlx_popup_title{
	height:40px;
	font-size:20px; line-height:40px;
	color:#fff;
	text-shadow: 1px 1px #000;
}
.dhtmlx_popup_text{
	min-height:30px;
	margin:15px 15px 5px;
	font-size:14px;
	color:#000;
	border-radius:6px;
}


.dhtmlx-info, .dhtmlx-error{
	font-size:14px;
    font-weight:bold;
	color:#fff;

	background-color:#000;
	background-color:rgba(0,0,0,0.8);
	border-radius:5px;
	box-shadow: 0 4px 4px -4px #000;
}

.dhtmlx-info div{
	color:#fff;
}

.dhtmlx-error{
	color:#f00;
}
.dhtmlx-error div{
	color:#f00;
}