@charset "utf-8";

/**
 * Container
 */
.sp_container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: 0px;
}
.sp_input {
    display: block;
    width: 100%;
    padding-right: 28px !important;
    /* width: 320px; */

    height: 32px;

    
    margin: 0 !important;
    font-size: 14px;
	line-height: 32px;

    /* height: 34px; */

    /* line-height: 34px;
    min-height: 34px; */
     text-indent: 8px;
    vertical-align: middle;
    background-color: white;

    border: 1px solid #e6e6e6;

    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
}

/* .sp_input:focus {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
} */




.sp_container_open .sp_input {
    border-radius: 2px !important;
}

/**
 * "Get all" button
 */
div.sp_button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
   
    height: 100%;
    padding: 0;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
}
.if-caret-bottom{display: block; width: 32px; height:28px; background-image: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-images/common/select.png'); background-position: center; background-repeat: no-repeat;}
.sp_container_open > .sp_button {
    border-bottom-right-radius: 0 !important;
}

div.sp_button span.sp_caret {
    position: absolute;
    top: 50%;
    right: 12px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;

    /*vertical-align: middle;*/
    border-top: 4px dashed;

    /*border-top: 4px solid\9;*/
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

div.sp_clear_btn {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    width: 30px; 
    height: 90%;
    padding: 2px  0 4px;
    margin: 0;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #666;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 2;
    display:none;font-weight: 100;
    background-color: #fff;text-align: center;
}
.sp_container:hover .sp_clear_btn{display: block;}
div.sp_clear_btn:hover {

    color: black;
}
div.sp_clear_btn i {
    font-size: 12px;display: inline-block;width: 16px;height: 16px;border-radius: 50%;background-color: #9a9a9a;color: #fff;text-align: center;line-height: 16px;
}
div.sp_clear_btn.sp_align_right {
    right: 10px;
}

/**
 * Results
 */
.sp_result_area {
    position: absolute;
    z-index: 100;
    display: none;
    width: 300px;
    padding: 0;
    margin: 0;
    list-style: none;

    /* background-color: transparent; */
    background-color: white;
    border: 1px solid #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}
.sp_search_input {
    width: 100%;

     height: 28px;
	margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 1em;
	line-height: 28px;
     text-indent: 8px;
    background: #fff url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/icon.png') no-repeat 100% ;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/icon.png') no-repeat 100% ;
    border: 1px solid #e6e6e6;
   
    border-radius: 2px;
    outline: 0;
    box-shadow: none;
    box-shadow: none;
   box-sizing: border-box;
}
div.sp_result_area.shadowDown{
 padding: 8px;
    box-shadow: 0 4px 10px 0 rgba(6,13,97,0.1);
}
div.sp_result_area.shadowUp{
     padding: 8px;
}
.sp_results {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
}

.sp_results > li {
    position: relative;
    height: auto !important;
    padding: 5px 8px;
    margin: 0;
    overflow: hidden;

   /*  white-space: nowrap; */
    font-size: 14px;
    line-height: 1;
    line-height: 22px;
    color: black;
    text-align: left;
    cursor : pointer;color: #666666;
    
}
.sp_results > li.sp_message_box {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    box-sizing: content-box;
}

ul.sp_results > li.sp_over {
    color: #6687ff !important;
    cursor: pointer;
    background-color: #d2e7fb !important;
}
ul.sp_results > li.sp_over .selectpage-match{
	
	color: #fff
	
}
ul.sp_results > li.sp_selected {
    color: #4285f4;
    cursor: default;
}

.sp_control_box{
    height: 27px;
    padding: 0;
}
.sp_control_box p{
    padding-left: 8px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
}
.sp_control_box button{
    float: right;
    height: 27px;
    padding: 0 12px;
    font-size: 13px !important;
    line-height: 20px;
    color: #666;
    text-align: left;
    background: white none;
    border: 0;
    border-radius: 0;
    border-radius: 0;
    border-radius: 0;
    outline: none !important;
    opacity: .3;
    transition: all .5s cubic-bezier(.175,.885,.32,1);
    transition: all .5s cubic-bezier(.175,.885,.32,1);
}
.sp_control_box:hover{
    background-color: #F8F8F8;
}
.sp_control_box:hover button{
    background-color: #F8F8F8;
    opacity: 1;
}
.sp_control_box:hover button:hover{
    color: black;
    background-color: #EEE;
}

/**
 * 多选模式相关样式
 */
div.sp_container_combo{
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
}

/* 多选模式的禁用状态样式 */
div.sp_container_combo.sp_disabled {
    box-shadow: none;
}
div.sp_container_combo.sp_disabled,
div.sp_container_combo.sp_disabled ul.sp_element_box,
div.sp_container_combo.sp_disabled .sp_input,
div.sp_container.sp_disabled .sp_input {
    cursor: not-allowed !important;
    background-color: #eee;
}
div.sp_container.sp_disabled .sp_clear_btn,
div.sp_container_combo.sp_disabled ul.sp_element_box span.tag_close{
    display: none;
}

div.sp_container_combo.sp_container_open{
    border-radius: 2px;
}
input.sp_combo_input{
    height: 34px !important;
    max-width: 100%;
    min-height: 34px !important;
    padding: 0;
    line-height: 34px !important;
    background-color: transparent;
    border: 0 !important;
    box-shadow: none;
}
input.sp_combo_input:focus {
    border: 0;
    box-shadow: none;
}
input.sp_combo_input[readonly],
input.sp_combo_input[disabled]{
    background-color: white;
}
ul.sp_element_box{
    position: relative;
    height: auto;
    min-height: 25px;
    padding: 3px 0 0 3px;
    margin: 0;
    margin-right: 24px;
    overflow: hidden;
    clear: both;
    font-size: 14px;
    list-style: none;
    cursor: text;
}
ul.sp_element_box > li{
    position: relative;

    /* margin-bottom: 2px; */
    float: left;
    padding: 0 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    list-style: none;
    box-sizing: content-box;
}
ul.sp_element_box li.full_width {
    width: 100%;
}
ul.sp_element_box li.full_width input{
    width: 100% !important;
}
ul.sp_element_box li.selected_tag {
    height: 24px;
    max-width: 100%;
    line-height: 24px;
    cursor: pointer;
    background-color: #EFEFEF;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    transition: all .5s cubic-bezier(.175,.885,.32,1);
    transition: all .5s cubic-bezier(.175,.885,.32,1);
}
ul.sp_element_box li.selected_tag:hover {
    background-color: white;
    border: 1px solid #D0D0D0;
    box-shadow: 0 2px 7px rgba(0,0,0,.1);
}
ul.sp_element_box li.selected_tag i {
    font-size: 14px;
    color: #AAA;
}
ul.sp_element_box li.selected_tag i:hover {
    color: black;
}
ul.sp_element_box li.input_box {
    height: 26px;
    min-height: 26px;
    padding: 0;

    /* margin: 0; */
    margin-top: 0;
}
ul.sp_element_box li.input_box input {
    height: 26px !important;
    min-height: 26px !important;
    line-height: 26px !important;
}
ul.sp_element_box li.selected_tag span.tag_close {
    margin-left: 5px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 15px;
    cursor: pointer;
}


/**
 * 加深颜色表示非选中
 */
.sp_results_off {
    /*background: rgba(255, 255, 255, 0.8);*/
}

.sp_input_off {
    color: #333;
    background: #eee;
}

.sp_hide {
    display: none;
}

/**
 * Navi
 */
.sp_navi {
    padding: 4px;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    text-align: right;
    background: #eee;
    border-bottom: 1px solid #79b;
}

.sp_navi > p > a:link,
.sp_navi > p > a:visited,
.sp_navi > p > a:hover,
.sp_navi > p > a:active {
    margin: 0 4px;
    font-weight: normal;
    color: blue;
    text-decoration: underline;
}

.sp_navi > p {
    padding-top: 4px;
    margin: 0;
    font-size: 15px;
    color: black;
    text-align: center;
}

.sp_navi > p > a >.current {
    font-size: 16px;
    font-weight: bold;
    color: #00c;
}

.sp_navi > p >.page_end {
    margin: 0 4px;
    font-weight: normal;
    color: gray;
}

.navi_page,
.navi_first,
.navi_prev,
.navi_next,
.navi_last {
    margin: auto 4px !important;
}

.sp_navi > .info {
    padding: 0 !important;
    margin: 0 !important;
}

/**
 * Select only
 */
.sp_container > .sp_select_ng {
    background: #fcc;
}







/*输入框设置了input-block-level样式时的特殊情况修复*/
div.sp_container input.sp_input.input-block-level{
    width: 100%;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    box-sizing:border-box;
}

div.sp_container_open .sp_input::-ms-clear{display:none;}

/* 移除微软浏览器，在输入框输入文本后，会出现X的问题，but is look like not working */
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/

div.sp_navi > p {
    font-size: 12px;
}




/**
 * 分页条样式（基于Bootstrap2的样式进行调整）
 */
div.sp_result_area div.sp_pagination {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    line-height: 26px;

    /* border-top: 1px solid #DDDDDD; */
    border-radius: 0;
    border-radius: 0;
    border-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
div.sp_result_area div.sp_pagination ul {
    display: inline-block;
    width: 100%;

    /*     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        box-shadow: 0 1px 2px rgba(0,0,0,0.05); */
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-radius: 0;
    border-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
div.sp_result_area div.sp_pagination li{
    display: inline;
    text-align: center;
    box-sizing: border-box;
}
div.sp_result_area div.sp_pagination>ul>li>a {

    float: left;
    height: 26px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #666;
    text-decoration: none;
    background-color: white;

    border: 0;

    /* border: 1px solid #ddd; */
    border-radius: 0;
    box-shadow:    none;
    box-shadow: none;
    box-shadow:         none;
    box-sizing: content-box;
    transition: all .5s cubic-bezier(.175,.885,.32,1);
    transition: all .5s cubic-bezier(.175,.885,.32,1);
}

div.sp_result_area div.sp_pagination li.csFirstPage a,
div.sp_result_area div.sp_pagination li.csPreviousPage a,
div.sp_result_area div.sp_pagination li.csNextPage a,
div.sp_result_area div.sp_pagination li.csLastPage a {
    width: 30px;
}
div.sp_result_area div.sp_pagination li.csFirstPage a{
    border-left: 0;
    border-bottom-left-radius: 2px;
}
div.sp_result_area div.sp_pagination li.csLastPage a{
    border-right: 0;
    border-bottom-right-radius: 2px;
}

div.sp_result_area div.sp_pagination>ul>li>a:hover {
    color: #000; background-color: #E8E8E8;
}
div.sp_result_area div.sp_pagination>ul>li.disabled>a{
    color: #DDD;
    cursor: default;
}
div.sp_result_area div.sp_pagination>ul>li.disabled>a:hover {
    color: #DDD;background-color: white;
}

div.sp_result_area div.sp_pagination>ul>li.pageInfoBox>a {
    width: 178px;
    font-size: 12px;

    /* padding-left: 4px;
    padding-right: 4px; */
    color: #666;
    text-align: center;
}
div.sp_result_area div.sp_pagination>ul>li.pageInfoBox>a:hover {
    color: #666;
    cursor: default;
    background-color: inherit;
}



/* icons */
@font-face {font-family: "sp_icon_font";
  src: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/iconfont.eot?t=1527056148952'); /* IE9*/
  src: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/iconfont.eot?t=1527056148952#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAgwAAsAAAAADKgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW70lWY21hcAAAAYAAAACvAAACPDY8OGNnbHlmAAACMAAAA6wAAAVILVRWk2hlYWQAAAXcAAAALwAAADYRdZQlaGhlYQAABgwAAAAcAAAAJAfeA41obXR4AAAGKAAAABQAAAAwL+kAAGxvY2EAAAY8AAAAGgAAABoJlghgbWF4cAAABlgAAAAfAAAAIAEbAF1uYW1lAAAGeAAAAUUAAAJtPlT+fXBvc3QAAAfAAAAAbwAAAJTGXXWUeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sc4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDxPZW7438AQw9zI0AgUZgTJAQAs9QzaeJzFkrENgzAQRb+NIQmkSEGRIdJRMACjIAoWiBgkE6TKZJ8x4NtHQ0SdfOtZum/p7nRnADmATDxEANwHDlFvuS75GcrkBzwV17jJCZjombNhy449x3lYFr1OxIH7LacsNe67E12vvBeccFZXGQpUqXJxkOFHcv8rvdc13a8tqsS0oRYJQ/MDnRF3SW9optqKoemCjaE5g60R/wE7I/4H9oa2AI5GrDsPBsoVb3cy5AB4nIVTz28bRRR+bya763Wc/W1v1qnXWZt4DY2dxHZs0QQnkapIqYqCiBSLW5FAqhDh0B56iRT3gOCAEBLi0AqpCCGjVCriTmUM4po/IFxCA0L8BVxaT3i7Tpq0F+z58d637828+eYbkABOnvDHfBJsKMMCXIW3AFC+jAWN5TAIG1V2GdOBlHYdjYfFMFCKhSp/A92C7GRqzUbJlRVZRw19rAe1ZlhlIS422mwJa5kcojeV3bJmLln8C0xOhv7H4hr7FtP54iW9XREbsytObdpO3ElZlmdZnyVkSUowNqZruONmVElNyuI7Sc+mH+dfZXlMeWH2+jsT01PWu582PsrNuCpit4v21LT2/YqZNantZjO25SnGRGIyO1F8xcE7f41P2qlc6U+gH6ezDviAr4IOeZihcwYaKqaPbtDGlllFm9ygiqFJbkAwhgp13hm+PbuMuDzLfojnPC5Vhp9XlpBmdovm4b+/hP/gfshXKehi8DBxat8aRQv/p9IR3o+2jgsy2JdUCWCLiCzoGFZRY5k8KkQna66gGzEcsqt9LVfS+33V82xZUclQZNvzyNBLOQ278XQBfR4XpdE2Y3Tu33mPl8CDOqzBm7TjfFHjStrnbr3NW4tVPofzdfLShBarPFwk1K1lHLk4v1AoNZr1edukEuW0Gd06A9zYu9FEbN7Y22DnJmLn3u01xLXb9zrs3MSM72eiXnR8hxr74+XEkbn+cuLI/NGv+NTEDGZ1x9HF35rjnPKXZwYwAJVxXxyLY6aLY/Qj5OQu/5nfBQOC6Gsk1RYSlUhHcCQVXwTwa9wXHd0vG3igaaJulH3xGz4U25pf1vFA10VdL/v8NdER22RoeGDEOCWMoDx5RmjEEMR3e7LHr9D+9LokRSUh8de3hk9YfkssLmwyKnBTbI702B0D3oVxcOFK9O5AyYDbhFYJOOmQZEgq1NCOxRGVStqQHdfHWqSOaCLlzGGrjQwOxZEsY3B4iIEsi6PDwVNJejqIx2zSSz7qJT0n2eslk2Mpe1z6pielrJSkqoQz3o0SLizwbP0slUb2FUU9Uu3RGkmJManXi0Zyer3xc767Z3yTbgpEbYMoJg0R3y8C7H3Rwf2YvroWs+njstjGhxHfxHXE7f/zfQqN3jUNA/aALIW4BDtIP/+v8u6z7llnD3Z2P9zdofCo5k+4y3fBBItuKXqCIzW4Z/JYxz43TNG2KoGB98VNI5gzbuKv3KqY2CfHFB+I98y5wKTl/gPtJBKweJxjYGRgYADia2wHhOL5bb4ycLMwgMB1bQ0RBP2/noWBuRHI5WBgAokCAOuvB+sAeJxjYGRgYG7438AQw8IAAkCSkQEV8AAARxICdXicY2FgYGB+ycDAwkAcBgAsBwEZAAAAAAB2ALwA8gFcAWoBqgG+AiICYgJ8AqQAAHicY2BkYGDgYQhkYGUAASYg5gJCBob/YD4DABHqAXkAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicbcxbDsIgEEbh+VuwF3EpLGokoyEZwcBou3yb9NXv+eTQQKeV/gsYMMLB44IJMxasuCLgRtjDJqmLSjJW9Ulrl2njVnJ5hsRNLN6rWX055W5LTrXEd5PvUQo3/8itW/iU8xCPhSuyG9EP1JsgFgA=') format('woff'),
  url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/iconfont.ttf?t=1527056148952') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/selectPage/iconfont.svg?t=1527056148952#iconfont') format('svg'); /* iOS 4.1- */
}

.sp_icon_font {
  font-family:"sp_icon_font" !important;
  font-size:12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style:normal;
  
}






.if-select-all:before { content: "\e600"; }

.if-close:before { content: "\e643"; }

.if-warning:before { content: "\e601"; }

.if-last:before { content: "\e663"; }

.if-previous:before { content: "\e605"; }

.if-clear:before { content: "\e633"; }

.if-first:before { content: "\e602"; }

.if-unselect-all:before { content: "\e765"; }

.if-next:before { content: "\e669"; }

.selectpage-match {
    font-size: 14px;
    color:#0994dc;
}
