.content {
	overflow-y: auto;
	background: transparent;
	margin: 5px auto 20px;
	height: 100%;
	width: 80%;
	color: #000;
}
.include_content {
	overflow-y: auto;
	background: transparent;
	margin: 5px auto 20px;
	height: 100%;
	width: 100%;
	color: #000;
}
.nav {
	height: 30px;
	margin-top: 8px;
	border-bottom: 1px solid #dddddd;
	font-size: 14px;
}
.include_nav{
	height: 30px;
	margin-top: 8px;
	padding-left:20px;
	background-color: #F8F8F8;
}
a:visited {
	text-decoration: none;
}
a {
	color: #122e67;
	font-size: 14px;
}
a:hover{color: #e05425}
#iframe{
	background-color: #FFFFFF;
	height: 85%;
}
.iframe_content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: auto;
}
#mainFrame{height:100%;}
/*.index_header, .container,.common_footer{
	position: absolute;
}*/
.index_header{    top: 0;}
.common_footer{   bottom: 0;width:100%}
.container{width: 100%;margin: 0 auto;top: 105px;    bottom: 100px;}
