table th {
	white-space: nowrap;
}

table td {
	white-space: nowrap;
}

body,table {
	font-size: 13px;
}
body{
	padding:0px 5px;
}
table {
	empty-cells: show;
	border-collapse: collapse;
	margin-left: 1%;
	width:98%;
}

h1,h2,h3 {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

table.tab_css_1 {
	border: 1px solid #cad9ea;
	color: #666;
}

/* table.tab_css_1 th {
	background-image: url("th_bg1.gif");
	background-repeat: repeat-x;
	height: 30px;
} */

/* table.tb td,table.tb th {
		 border: 1px solid #cad9ea;
		border: 1px solid #8F8F8F;
		padding: 0 0 0;
	} 
	*/
table.tb th { /* border: 1px solid #cad9ea; */
	border: 1px solid #8F8F8F;
	padding: 0 1em 0;
	min-width:100px;
}
table.tb *{
	line-height:30px;
}
table.tab_css_1 tr.tr_css {
	background-color: #f5fafe;
	height: 30px;
}
.addNode input[type=checkbox]{
	display:none;
}

.addNode2 input[type=checkbox]{
	display:none;
}

a{
    text-decoration: none;
    color: #3371d5;
    font-size: 14px;
    margin:0 6px;
}
.apply_btn,
.pay_btn{
	padding: 0 6px;
    border-radius: 2px;
    line-height: 24px;
    color: #fff;
    background: #3371d5;
    border: none;
    margin: 0 6px;
}
.select_oper{
	height:28px!important;
	padding:0 30px;
	-webkit-appearance: none;
	appearance: none;
	text-align:center;
	margin-left:6px;
	padding-left:6px;
	background: #fff url(../img/img-doan1.png) no-repeat right;
}
.select_area{
	position: relative;
    display: inline-block;
    width: 150px;
    z-index:2;
    margin-left: 6px;
}
.select_div{
	display: inline-block;
    line-height: 28px!important;
    text-align: center;
    border: 1px solid #999;
    background: #fff url(../img/img-doan1.png) no-repeat 94%;
    width: 100%;
    cursou:pointer;
}
.select_area.disabled .select_div{
	border: 1px solid #aaa;
	background: #eee url(../img/img-doan1.png) no-repeat 94%;
	cursor:default;
}
.select_ul{
	display: inline-block;
    line-height: 28px!important;
    text-align: center;
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    border: 1px solid #999;
     width: 100%;
     background:#fff;
     display:none;
}
.select_ul>div{
    line-height: 28px!important;
    text-align: center;
    width: 100%;
    cursor:pointer;
}
.select_ul>div:hover{
	background:#f4f4f4;
}

.select_ul{
	max-height:300px;
	overflow-y:auto;
}

.node_xh{
	width:100px!important;
}

.node_num1{
	width:200px!important;
}

.node_num2{
	width:250px!important;
}

.panel{
	display:none;
}

.fixedtd{  
    position:relative;  
	top: expression(this.parentElement.parentElement.parentElement.scrollTop)  
	z-index:1;  
}

.cwxx[onclick]{
	color: #3371d5;
	cursor:pointer;
}
#tab,
#tab thead tr td,
#tab3,
#tab3 thead tr td{
	border:none
}

#tab3,
#tab3 tr td{
	border:none
}

#tab3{
	float:left;
	width:800px;
	vertical-align:top;
}

#dqdm {
	z-index: 3;
}
.fl{
	float:left;
	margin-right:10px;
}
.clear{
	clear:both;
}