@charset "UTF-8"; 

.m-style {
	position: relative;
	text-align
	:center
	;zoom
	:
	1
}

.m-style:before,.m-style:after {
	content: "";
	display: table
}

.m-style:after {
	clear: both;
	overflow: hidden
}

.m-style span {
	float: left;
	margin: 0 5px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #bdbdbd;
	font-size: 14px
}

.m-style .active {
	float: left;
	margin: 0 5px;
	width: 38px;
	line-height: 1.8;
	height:auto;
	background: #bbbbbb;
	color: #fff;
	font-size: 14px;
	/* border: 1px solid #bbbbbb; */
	background-color:#9da1b1;
	border-radius:4px;
}

.m-style a {
	float: left;
	margin: 0 5px;
	width: 38px;
	line-height: 1.8;
	background: #fff;
	/* border: 1px solid #ebebeb; */
	/* color: #bdbdbd; */
	color:	#333;
	font-size: 14px
}

.m-style a:hover {
	/* color: #fff; */
	color:	#333;
	background: #ddd
}

.m-style .next,.m-style .prev {
	font-family: simsun;
	font-size: 14px;
	font-weight: 700;
	padding:0 10px;
	/* border:1px solid #ccc */
}

.m-style .now,.m-style .count {
	padding: 0 5px;
	color: red
}

.m-style .eg .m-style img {
	max-width: 800px;
	min-height: 500px
}

.m-style input {
	float: left;
	margin: 0;
	width: 38px;
	height:25px;
	text-align: center;
	background: #fff;
	outline: 0;
	color: #bdbdbd;
	font-size: 14px;
}
.jump-ipt {
	line-height: 20px !important;
	height: 20px !important;
	padding: 0 2px;
}

.jump-btn {
	font-size: 14px;
	font-weight: 700;
}