/*container*/
#msg-window {
	overflow: hidden;
	font-family: "微软雅黑";
	font-size: 16px;
	background: #fff;	
    border-radius:5px;
}

/*header*/
.msg-tl {
	background: #FFF  repeat-x 0 0;
	border-top: 1px solid #1a56a9;
	
	border-left: 1px solid #1a56a9;
}

.msg-tr {
	background: #FFF  repeat-x 0 0;
	
	border-right: 1px solid #1a56a9;
	border-bottom: #ebebeb 1px solid;
}

.msg-tc {
	height: 32px;
	overflow: hidden;
	line-height: 32px;
	background: #1a56a9 repeat-x 0 0;
	background-position-x:-700;
}

.msg-ttc {
	height: 3px
}

.msg-header-text {
	float: left;
	margin-left: 5px;
	font-size: 24px;
	font-weight: normal;
	color:#FFF
}

.msg-header-tools {
	float: right;
	margin-top: 5px
}

.msg-header-tools strong {
	display: none
}

/*body*/
.msg-ml {
	padding-left: 3px;
	border-left: 1px solid #FFF;
}

.msg-mr {
	padding-right: 3px;
	border-right: 1px solid #FFF;
}

.msg-mc {
	padding: 0;
}

.msg-body {
	position:relative;
	padding: 0;
	overflow: auto;
	font-size: 16px;
	vertical-align: middle;
}

/*button*/
.msg-btn {
	padding-right: 5px;
	text-align: right;
}

/*footer*/
.msg-bl {
	padding-left: 3px;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #8FBBEB;
}

.msg-br {
	padding-right: 3px;
	border-right: 1px solid #8FBBEB;
}

.msg-bc {
	height: 3px;
	font-size: 3px;
}

/*icon*/
.Message_alert {
	padding-left: 90px;
	background: url(images/info.gif) no-repeat 20px 50%
}

.Message_succeed {
	padding-left: 90px;
	background: url(images/right.gif) no-repeat 20px 50%
}

.Message_error {
	padding-left: 90px;
	background: url(images/err.gif) no-repeat 20px 50%
}

.Message_confirm {
	padding-left: 90px;
	background: url(images/ask.gif) no-repeat 20px 50%
}

.Message_alert .msg-content,.Message_succeed .msg-content,.Message_error .msg-content,.Message_confirm .msg-content
	{
	padding: 15px 1px 1px
}
.msg-content-01{
	position:relative;
	display: table-cell;
	height:100%; 
	padding:10px;
	line-height:18px;
	vertical-align: middle;
}

/*图标公共定义*/
.msg-header-tools div {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 1px;
	cursor: pointer;
	background: url(images/ico.gif) no-repeat 0 0;
}

.Message_close {
	background: url(/sbzs-cjpt-web/resources/images/customer/customerinformation/close.png) no-repeat 0 0 !important;
}

.Message_max {
	background-position: 0 -16px !important;
}

.Message_min {
	background-position: 0 0 !important;
}

.Message_normal {
	background-position: -16px -16px !important;
}

/*取消确认按钮样式*/
 input.btnStyle { 
	display:inline-block;
	width: 80px;
	height: 30px;
	margin: 0 3px 5px 0; 
	margin-right:5px;
	font-size: 20px;
	line-height:28px;
	color: #FFF;
	background: #1a56a9;
	border: 0; 
	border-radius:1px;
	opacity:1;
	transition:opacity 0.5s;
	transition:opacity 0.5s;
	transition:opacity 0.5s;
	transition:opacity 0.5s;
} 

input.btnStyle:hover{opacity:0.8;}