.fastnav {
	width: 40px;
	height: 240px;
	position: fixed;
	top: 50%;
	right: 10px;
	margin-top: -120px;
}

.fastnav .openbox {
	
}

.fastnav .openbox .list {
	font-size: 0;
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #2194d3;
}

.fastnav .openbox .list a {
	display: block;
	font-size: 0;
	position: relative;
	overflow: hidden;
}

.fastnav .openbox .list img {
	border: 0;
	vertical-align: middle;
}

.fastnav .openbox .list:hover p {
	display: block;
}

.fastnav .openbox .list p {
	padding: 0;
	padding-top: 2px;
	margin: 0;
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 12px;
	line-height: 18px;
	background-color: #2194d3;
	color: #fff;
}

.fastnav.open .closebox,.fastnav .openbox {
	display: none;
}

.fastnav.open .openbox,.fastnav .closebox {
	display: block;
}