/*
Version: 3.4.8 Timestamp: Thu May  1 09:50:32 EDT 2014
*/

.select2-container {
    position: relative;
    display: inline-block;
    *display: inline;
    width: 100%;
    margin: 0;
    vertical-align: middle;

    /* inline-block for ie7 */
    zoom: 1;
}
.select2-container .select2-focusser{
    border: 0px;visibility: hidden;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    background-color: #fff;
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  box-sizing: border-box; /* webkit */
     box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    position: relative;
    display: block;
    height: 32px;
    padding: 0 0 0 8px;
    overflow: hidden;
    line-height: 32px;
    color: #444;
    text-decoration: none;
    white-space: normal;

    border: 1px solid #e6e6e6;
    border-radius: 2px;

   /* background-color: #fff;*/
 box-sizing: border-box;
    

    background-clip: padding-box;
      user-select: none;
         user-select: none;
          user-select: none;
              user-select: none;

    -webkit-touch-callout: none;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

  

}



.select2-container .select2-choice > .select2-chosen {
    display: inline-table;
    float: none;
    width: auto;
    margin-right: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;

/*�������ݣ����ṩ��������*/

/*�������֣���ʾʡ�Ժ�*/
}

.select2-container .select2-choice abbr {
    position: absolute;z-index: 10;
    top: 6px;
    right: 6px;
    display: none;
    width: 16px;
    height: 16px;
    font-size: 1px;
    text-decoration: none;
    cursor: pointer;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/close01.png');
    border: 0;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    cursor: pointer;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/close02.png');
}

.select2-drop-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;

    /* styles required for IE to work */
    background-color: #fff;
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-drop {
    position: absolute;
    top: 100%;
    z-index: 9999;
    width: 100%;
    margin-top: -1px;
    color: #666666;

    background: #fff;
    /*border: 1px solid #aaa;*/
    border-top: 1px;
 
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    /*border-top: 1px solid #aaa;*/
    border-bottom: 0;



}

.select2-drop-active {
    padding-top: 4px;
    /*border: 1px solid #e6e6e6;*/
    border-radius: 2px;

    box-shadow: 0 4px 10px 0 rgba(6, 13, 97, .10);
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #e6e6e6;
}

.select2-drop-auto-width {
    width: auto;
    border-top: 1px solid #aaa;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-container .select2-choice .select2-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 26px;
    height: 100%;
    background-clip: padding-box;

 
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-images/common/select.png') ;
	background-position: center; background-repeat: no-repeat;
}

.select2-search {

    position: relative;
    z-index: 10000;
    display: inline-block;
    width: 100%;
    min-height: 25px;
     padding: 8px;
    margin: 0;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;

    height: 28px;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
	line-height: 28px;
    text-indent: 8px;
 

    background: #fff url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/icon.png') no-repeat 100% ;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/icon.png') no-repeat 100% ;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    outline: 0;
box-sizing: border-box;

}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100%;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #e6e6e6;
    outline: none;
 
}

.select2-dropdown-open .select2-choice {
 
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #e6e6e6;
    border-top-color: transparent;
 
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
     background-image: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-images/common/select_up.png');
}

.select2-hidden-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

/* results */
.select2-results {
    position: relative;
    max-height: 200px;
    padding: 0 0 0 0px;
    margin: 4px 0px 4px 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    padding-left: 0;
    margin: 0;
}

.select2-results li {
    display: list-item;
	padding-top: 5x;
	padding-bottom: 5px;line-height: 22px;font-size: 14px;
    list-style: none;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding:5px 8px;line-height: 22px;font-size: 14px;color: #666666;
    margin: 0; 

    cursor: default;
      user-select: none;
         user-select: none;
          user-select: none;
              user-select: none;
     

    -webkit-touch-callout: none;
}

.select2-results-dept-1 .select2-result-label { padding-left: 20px }
.select2-results-dept-2 .select2-result-label { padding-left: 40px }
.select2-results-dept-3 .select2-result-label { padding-left: 60px }
.select2-results-dept-4 .select2-result-label { padding-left: 80px }
.select2-results-dept-5 .select2-result-label { padding-left: 100px }
.select2-results-dept-6 .select2-result-label { padding-left: 110px }
.select2-results-dept-7 .select2-result-label { padding-left: 120px }
.select2-results .select2-result-label:hover{color: #6687ff;background-color: #d2e7fb}
.select2-results .select2-highlighted {
    color: #4285f4;

}
.select2-results .select2-highlighted .select2-result-label{color: #6687ff;}
/* .select2-results .select2-highlighted .select2-match{color: #6687ff;font-weight: bold;} */
.select2-results li em {
    font-style: normal;
    background: #feffde;
    color: #6687ff;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    color: #000;
    background: #fff;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    display: list-item;
    padding-left: 5px;
    background: #f4f4f4;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    display: list-item;
    color: #666;
    cursor: default;
    background: #f4f4f4;
}
.select2-results .select2-disabled {
  display: list-item;
  color: red;
  cursor: default;
  background: #f4f4f4;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    display: list-item;
    background: #f4f4f4;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    cursor: default;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    position: relative;
    height: 32px;
	min-width: 100px;
    padding: 0;
	padding-right: 20px; 
    padding-left: 8px;
    margin: 0;
    line-height: 32px;
    cursor: text;

    /*overflow: hidden;*/
    background-color: #fff;
    background-image: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-images/common/select_ie8.png'); background-position: right  center ; background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
	box-sizing: border-box;
}

.select2-locked {
  padding: 3px 5px !important;
}

.select2-container-multi .select2-choices {
    
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #e6d6d6;
    outline: none;

 
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
html[dir="rtl"] .select2-container-multi .select2-choices li
{
    float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
    padding: 0;
    margin: 0;
    white-space: nowrap;

}

.select2-container-multi .select2-choices .select2-search-field input { height: 29px;
    
     

    font-family: sans-serif;
    font-size: 14px;
  line-height: 29px;
    color: #666;
    border: 0;
    outline: 0;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    position: relative;
    padding: 5px 5px 3px 10px;
    margin: 3px 0 3px 5px;
    line-height: 13px;
    color: #333;
    cursor: default;

 
 
 

    background-color: #eaf4ff;
    border: 1px solid #d5e8fc;
    border-radius: 2px;
 
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice
{
    margin-right: 5px;
    margin-left: 0;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 13px;

    font-size: 1px;
    background: url('/sbzx/view/sdsfsgjssb/static/resources4/tax-module/select2/select2.png') right top no-repeat;
    outline: none;
}
html[dir="rtl"] .select2-search-choice-close {
    right: auto;
    left: 3px;
}

.select2-container-multi .select2-search-choice-close {
    left: 0;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    cursor: default;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}

/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    font-size: 14px;
    color:#6687ff;
    font-weight: bold;
}

.select2-offscreen, .select2-offscreen:focus {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    border: 0 !important;
    outline: 0 !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */


.yellow .select2-choices{
    background-color: transparent;
}

/* 2023-2-14 清除功能优化 */
.select2  .select2-search-choice-close{display: none;}
.select2:hover .select2-search-choice-close{display: block;}
