body {
	background: #fff;
	padding: 0;
	margin: 0;
	color: #535c67;
	width: 100%;
	font-family: "Microsoft YaHei";
}

.qr_loginDia {
	display: none;
	background: #fff;
	border-radius: 8px;
	width: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
}

.smdl {
	font-size: 18px;
	color: #666;
	display: inline-block;
}

.qr_loginDia .changeType {
	float: right;
	cursor: pointer;
	width: 130px;
}

.qr_loginDia .changeType div {
	font-size: 12px;
	color: #4285f4;
	display: block;
	border: 1px solid #4285f4;
	background: #eaf4ff;
	border-radius: 3px;
	padding: 2px 8px;
	width: 75px;
	float: left;
}

.qr_loginDia .changeType img {
	margin-top: -1px;
	height: 28px;
	display: block;
	float: left;
}

.qr_loginDia .hidden.changeType:before {
	border-left-color: black;
}

.qr_loginDia .changeType:after {
	width: 0;
	height: 0;
	content: "";
	position: relative;
	border: 5px solid transparent;
	border-left-color: #eaf4ff;
	margin-left: 92px;
	margin-top: 6px;
	display: block;
}

.qr_loginDia .changeType:before {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	border: 6px solid transparent;
	border-left-color: #4285f4;
	margin-left: 92px;
	margin-top: 5px;
	display: block;
}

.conbox img {
	height: 274px;
	width: 274px;
	cursor: pointer;
}

.conbox .right_img {
	width: auto;
	height: auto;
	cursor: pointer;
	margin-top: 10px;
}

.qr_loginDia .qrcode_box {
	margin-top: 10px;
}

.qr_loginDia  .qrtextbox {
	top: 90px;
}

.clear:after {
	clear: both;
	display: block;
	content: "";
}

.sfxz_info {
	font-size: 14px;
	margin: 4%;
	line-height: 24px;
}

.sfxz_info .section {
	text-indent: 2em;
}

.sel_line1 {
	margin-left: 20%;
}

.sel_line2 {
	margin: 10px 0 10px 20%;
}

.sel_line .label {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.sel_line .sel_con {
	height: 30px;
	color: #666;
	display: inline-block;
	width: 240px;
}

.sel_line .sel_con select {
	width: 100%;
	height: 30px;
}

.qrcode_box {
	margin: 10px 0;
}

.tcenter {
	text-align: center;
}

.qrbox {
	position: relative;
}

.qrbox .qrtextbox {
	width: 100%;
	position: absolute;
	top: 90px;
	left: 0;
	text-align: center;
}

.qrbox .qrtit {
	font-size: 18px;
	font-weight: bolder;
	margin: 0 auto 20px;
	color: #000;
}

.qrbox .qrbtn {
	width: 80px;
	margin: 0 auto;
	background-color: #53acf3;
	color: #fff;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 1;
	border-radius: 5px;
	cursor: pointer;
}

.login_topbox {
	height: 27px;
	margin-bottom: 10px;
}

.smdl {
	font-size: 18px;
	color: #666;
	display: inline-block;
	font-weight: bold;
}

.msg_yzm .telyzm_box {
	height: 35px;
	color: #666;
	position: relative;
	width: 280px;
	margin: 30px auto 0;
	top: 0;
	left: 0;
}

.msg_yzm .telyzm_block {
	height: 35px;
	color: #666;
	position: relative;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
}

.msg_yzm .dlyh_btns {
	margin-top: 40px;
}

.content {
	padding: 10px;
}

#login_msg_btn {
	width: 260px;
	background-color: #518dec;
	margin: 0 auto;
	text-align: center;
	height: 36px;
	color: #fff;
	border-radius: 4px;
	line-height: 36px;
	font-size: 17px;
	cursor: pointer;
}

#send_msg_btn[disabled] {
	background-color: #aaa;
	border-color: #aaa;
}

.login_input .login_name {
	margin-bottom: 0;
}

.login_input .login_name input {
	border: 0;
	width: 78%;
	height: 20px;
	padding: 4px 0 2px 0;
	margin-left: 60px;
	outline: none;
}

.login_name {
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	padding: 0 0 0 10px;
	vertical-align: middle;
	width: 100%;
}

.placeholder_box {
	height: 35px;
	color: #666;
	position: relative;
}

.telyzm_block .placeholder_box {
	width: 61%;
	float: left;
	box-sizing: border-box;
	margin-right: 3%;
}

.placeholder+input {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding-left: 10px;
	background: none;
	line-height: 35px;
	width: 186px;
	height: 35px;
}

input.login_phone {
	width: 280px;
}

.send_msg_btn {
	width: 36%;
	height: 35px;
	line-height: 35px;
	float: left;
	margin-left: 0;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none !important;
	padding: 0;
	border: 1px solid #53acf3;
	background-color: #53ACF3;
	border-color: #53ACF3;
	color: #FFF;
	box-sizing: border-box;
}

.sl_content p {
	line-height: 1.8;
}

/* 电子协议 */
#dzxy_dialog .dialog {
	height: 500px;
	width: 800px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#dzxy_dialog .title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#dzxy_dialog .line {
	height: 2px;
	width: 100%;
	background-color: #E0E0E0;
	margin: 5px 0;
}

#dzxy_dialog .font {
	color: #555;
	font-size: 14px;
	line-height: 2;
}

#dzxy_dialog .text_r {
	text-align: right;
}

#dzxy_dialog .tit {
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

#dzxy_dialog .check {
	margin-top: 15px;
}

#dzxy_dialog .link {
	color: #4767E0;
	text-decoration: underline;
}

#tab_title {
	overflow: hidden;
	margin-bottom: 20px;
}

#tab_title .item {
	float: left;
	width: 33%;
	cursor: pointer;
}

#tab_title .tabitem {
	text-align: center;
	padding: 0px 50px;
}

#tab_title .type {
	padding: 10px 0;
	font-size: 18px;
}

#tab_title .active {
	border-bottom: 3px solid #4285f4;
	font-weight: 1000;
}

.sl_tips {
	font-size: 20px;
	text-align: center;
	color: #333;
}

.sl_tips .a_load {
	font-size: 20px;
	color: rgb(66, 133, 244);
	cursor: default;
	font-weight: bold;
}

.sl_tips .load_app {
	border-bottom: 3px solid rgb(66, 133, 244);
	cursor: pointer;
}

.sl_tips a:hover {
	color: rgb(66, 133, 244);
}
