table td {
	white-space: nowrap;
}

body,table {
	font-size: 13px;
}

body{
	padding:0px 5px;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	margin-left: 1%;
	width:98%;
}

table.tb td { 
	border: 1px solid #8F8F8F;
	padding: 1 1em 0;
	min-width:135px;
}

table.tb *{
	line-height:30px;
}

input[type="checkbox"]{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	margin-right: 10px;
	position: relative;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #7D7D7D;
    border-radius: 4px;
}
 
input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius:4px;
    color: #7D7D7D;
    font-size: 20px;
    font-weight: bold;
}

.panel{
 	display:none; 
}
.tabs{
	height:40px;
	border-bottom:1px solid #888;
	width:98%;
	margin:10px auto;
	
}
.tab_panel{
	float:left;
	color:#aaa;
	padding:10px 16px;
	list-style:none;
	margin:0;
	cursor:pointer;
	position:relative;
	bottom:-2px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border:1px solid #888;
	border-bottom:1px solid #888;
}
.tab_panel.active{
	color:#333;
	border-bottom:1px solid #fff;
}