.datacontent{
		width:90%;
		margin:0 auto;
	}
	.datacontent .datatitle,.datatitle td {
		padding: 0;
		height: 35px;
		line-height: 35px;
		background: #ebebeb;
		color: #0994dc;
		font-size: 14px;
		text-indent: 20px;
		font-weight: bold;
		border: 1px solid #CAC7C7;
		border-bottom: none;
	}
	.datatitle td{
		text-indent: 0;
	}
	.datatitle td{
		text-indent: 0;
	}
	.table1{
		width:100%;
	}
	.datacontent .table1 td.label {
		background-color: #F9F9F9;
		text-align: right;
		padding-right: 10px;
		min-width:90px;
	}
	.datacontent .table1 td.data {
		height: 17px;
		line-height: 16px;
		padding: 10px 0px;
		text-align:left;
	}
	.datacontent .table1 td {
		border: 1px solid #CAC7C7;
		font-size: 12px;
		min-width: 30px;
		color: #555;
	}
	.datacontent .table1 td.data input[type='text'].search-input {
		width: 97%;
		max-width: 480px;
		height: 25px;
		line-height: 25px;
		text-indent: 5px;
	}
	.combo {
		border: 1px solid #95B8E7;
		background-color: #fff;
		line-height: 20px;
		outline:none;
		
	}
	.combo-text{
		text-align:left;
	}
	.sure-btn {
		background: #4585eb;
		color: #fff;
		cursor: pointer;
		width: 85px;
		height: 30px;
		line-height: 30px;
		border: none;
		border-radius: 3px;
		text-align:center;
		margin:10px 0;
	}